[submodule "apps/commerce-core"]
	path = apps/commerce-core
	url = https://github.com/ShowingCloud/Yen.git
[submodule "apps/cms"]
	path = apps/cms
	url = https://github.com/ShowingCloud/Yan.git
[submodule "packages/ai"]
	path = packages/ai
	url = https://github.com/ShowingCloud/Marakk.git
